<div class="col-md-4 col-md-offset-4">
  <div class="container">
    <h2>Cart</h2>
    <ul>
      <% @cart.line_items.each do |line_item| %>
        <div class="card">
          <li><p>Item: <%= line_item.product.name %></p>
              <p>Price: <%= number_to_currency(line_item.product.price) %></p> 
              <p>Quantity: <%= line_item.quantity %></p>
              <p> Total Price: <%= number_to_currency(line_item.total_price) %></p>
          <ul>
            <li>
              <%= link_to "Add one", line_item_add_path(:id => line_item), method: :post, :class => "btn btn-secondary btn-xs"%>
              <%= link_to "Reduce one", line_item_reduce_path(:id => line_item), method: :post, :class => "btn btn-secondary btn-xs" %>
            </li>
            <li>
              <%= link_to "Remove item", line_item_path(line_item), method: :delete, :class => "btn btn-secondary btn-xs" %>
            </li>
          </ul>
        <% end %>
      </div>
    </ul>
    <h3>Sub total: <%= number_to_currency(@cart.sub_total) %></h3>
    <%= link_to "Proceed to checkout", new_order_path, :class => "btn btn-success btn-sm"%><br>
    <%= link_to "Empty cart", cart_path(@current_cart), method: :delete, data: {confirm: "Are you sure?"}, :class => "btn btn-danger btn-sm" %>
  </div>
</div>