<div class="text-center">
<% @page_title = "New Buyer" %>
<div class="Sign_Form">
  <h1>New Buyer</h1>
  <%= form_for(:buyer, :url => {:controller => 'buyers', :action => 'create'}) do |f| %>
      <p> Name:</br> <%= f.text_field :name %> </p>
      <p> Type:</br> <%= f.text_field :type %> </p>
      <p> Description:</br> <%= f.text_field :description %> </p>
      <p> Address:</br> <%= f.text_field :address %> </p>

      <%= f.submit :create %>
  <% end %>
</div>